<%- include('../partials/header'); %> <%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <h3>Data Prediction</h3>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Dataset</h5>
        </div>
      </div>
      <div class="card-body">
        <form action="processprediction" method="post" data-parsley-validate>
          <div class="form-group">
            <label for="basicInput">Nama</label>
            <input
              type="text"
              class="form-control"
              name="name"
              data-parsley-required="true"
            />
          </div>
          <%  result.pop(); for(const i of result) { %>
            <div class="form-group">
              <label for="<%= i.key.replace(/\W/g, '') %>"><%= i.key %></label>
              <input type="number" id="<%= i.key.replace(/\W/g, '') %>" name="<%= i.key.replace(/\W/g, '') %>" class="form-control" data-parsley-required="true" step="0.1">
            </div>
          <% } %>
          <div class="mt-4 d-flex justify-content-between">
            <a href="/performance" class="btn btn-secondary">
              <i class="bi bi-arrow-left-square me-1"></i>
              Performance
            </a>
            <button type="submit" class="btn btn-primary">
              Prediksi
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</div>
