<%- include('../partials/header'); %>
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <h3>Edit Artikel</h3>
    </div>
    <% data.forEach(data=> { %>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <div class="">
                        <a href="/getarticle" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-square me-1"></i>
                            Daftar Artikel
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="<%= data.slug %>" method="post" data-parsley-validate id="formArticle"
                        enctype="multipart/form-data">
                        <div class="form-group">

                            <label for="basicInput">Judul</label>
                            <input type="text" class="form-control" name="title" data-parsley-required="true"
                                placeholder="Masukan Judul Disini" value="<%= data.title %>" />
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Kategori</label>
                            <select name="category" id="category" class="form-control" step="0.1">
                                <% for(i of categories) { %>
                                    <option value="<%= i.name %>">
                                        <%= i.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Pilih Cover</label>
                            <input type="file" class="form-control image-preview-filepond" name="foto" />
                        </div>
                        <p>Silahkan Masukan Artikel</p>
                        <textarea name="body" id="summernote" value>
                                    <%- data.body %> 
                                </textarea>
                        <div class="mt-4 d-flex justify-content-between">
                            <a href="/getarticle" class="btn btn-secondary">
                                <i class="bi bi-arrow-left-square me-1"></i>
                                Daftar Artikel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                </div>
                </form>
            </div>
            <% }) %>
                </div>
        </section>
        <%- include('../partials/footer'); %>
            <style>
                body {
                    margin: 25px;
                }
            </style>