<%- include('../partials/header'); %> <%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <h3>Perkembangan Balita</h3>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Daftar Balita</h5>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>Nama</th>
              <th>Tanggal Lahir</th>
              <th>Puskesmas</th>
              <th>Posyandu</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% for(toddler of data) { %>
              <tr>
                <td><%= toddler.name %></td>
                <td><%= toddler.birth %></td>
                <td><%= toddler.puskesmas %></td>
                <td><%= toddler.posyandu %></td>
                <td>
                    <a href="/growth/<%= toddler.uuid %>" class="btn icon btn-success">
                        <i class="bi bi-graph-up"></i>
                    </a>
                </td>
              </tr>              
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</div>
