<%- include('../partials/header'); %> <%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <h3>Pengukuran</h3>
  </div>
  <section class="section mt-4">
    <div class="position-relative">
      <div class="d-flex align-items-center" style="position: absolute; top: -2.8rem;">
        <a id="tableCardBtn" class="bg-white text-dark px-3 py-2 rounded cursor-pointer border border-bottom-0"><span class="fs-6 fw-bold">Daftar Pengukuran</span></a>
        <a id="formCardBtn" class="bg-white text-dark px-3 py-2 rounded opacity-50 cursor-pointer"><span class="fs-6 fw-bold">Tambah Data</span></a>
      </div>
      <div id="tableCard" class="card">
        <div class="card-body">
          <table class="table table-striped" id="table1">
            <thead>
              <tr>
                <th>Tanggal</th>
                <th>BB</th>
                <th>TB</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% for(measure of data) { %>
                <tr>
                  <td><%= measure.name %></td>
                  <td><%= measure.birth %></td>
                  <td><%= measure.puskesmas %></td>
                  <td><%= measure.posyandu %></td>
                  <td>
                      <a href="/measurenment/<%= measure.uuid %>" class="btn icon btn-success">
                          <i class="bi bi-info-circle"></i>
                      </a>
                  </td>
                </tr>              
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="formCard" class="card d-none">
        <div class="card-body">
          <form action="measurement/store" method="post" data-parsley-validate>
            <div class="mb-3">
              <label class="form-label">Pilih Balita</label>
              <select name="toddler" class="form-select">
                <option value="0"></option>
                  <% for(toddler of toddlers) { %>
                    <option value="<%= toddler.uuid %>"><%= toddler.name %></option>
                  <% } %>
              </select>
            </div>
            <div class="mb-3">
              
            </div>
            
            <div class="text-end">
              <button type="submit" class="btn btn-primary">
                <span class="d-none d-sm-block">Submit</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</div>
