<%- include('../partials/header'); %> <%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading d-flex justify-content-between">
    <h3>Pengukuran</h3>
    <div class="d-block">
      <button class="btnCard btn btn-primary border mx-1 disabled" type="button" data-bs-toggle="collapse" data-bs-target="#tableCard" data-bs-parent="#measurementGroup">Daftar Pengukuran</button>
      <button class="btnCard btn btn-light border mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#formCard" data-bs-parent="#measurementGroup">Tambah Data</button>
      <button class="btnCard btn btn-light border mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#submitReportCard" data-bs-parent="#measurementGroup">Laporan</button>
    </div>
  </div>
  <section id="measurementGroup" class="section mt-xxl-0 mt-4">
    <div class="card">
        <div id="tableCard" class="card collapse show">
          <div class="card-header">
            <h5>Daftar Pengukuran</h5>
          </div>
          <div class="card-body">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Umur</th>
                  <th>BB</th>
                  <th>TB</th>
                  <th>BB/U</th>
                  <th>TB/U</th>
                  <th>BB/TB</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for(measure of data) { %>
                  <tr>
                    <td><%= measure.date %></td>
                    <td><%= measure.current_age %></td>
                    <td><%= measure.bb %></td>
                    <td><%= measure.tb %></td>
                    <td><%= measure.bbu %></td>
                    <td><%= measure.tbu %></td>
                    <td><%= measure.bbtb %></td>
                    <td>
                        <a href="/measurement/<%= measure.uuid %>" class="btn icon btn-success">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a href="/measurement/edit/<%= measure.uuid %>" class="btn icon btn-info">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                  </tr>              
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      <div class="card">
        <div id="formCard" class="card collapse">
          <div class="card-header">
            <h5>Tambah Data</h5>
          </div>
          <div class="card-body">
            <form action="measurement/store" method="post" data-parsley-validate>
              <div class="mb-3">
                <label class="form-label">Pilih Balita</label>
                <select name="uuid" class="form-select choices">
                <% for(toddler of toddlers) { %>
                  <option value="<%= toddler.uuid %>"><%= `${toddler.name} (${toddler.jk})` %></option>
                <% } %>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Tanggal Pengukuran</label>
                <input type="date" class="form-control" name="date" data-parsley-required="true">
              </div>
              <div class="mb-3">
                <label class="form-label">Umur</label>
                <input type="number" class="form-control" name="age" data-parsley-required="true">
              </div>
              <div class="mb-3">
                <label class="form-label">Berat Badan</label>
                <input type="number" class="form-control" name="bb" data-parsley-required="true" step="0.1">
              </div>
              <div class="mb-3">
                <label class="form-label">Tinggi Badan</label>
                <input type="number" class="form-control" name="tb" data-parsley-required="true" step="0.5">
              </div>
              <div class="mb-3">
                <label class="form-label">LiLa</label>
                <input type="number" class="form-control" name="lila" data-parsley-required="true" step="0.1">
              </div>
              <div class="mb-3">
                <label class="form-label">LiKa</label>
                <input type="number" class="form-control" name="lika" data-parsley-required="true" step="0.1">
              </div>
              <!-- <div class="mb-3">
                <label class="form-label">Cara Ukur Tinggi Badan</label>
                <div class="form-group mandatory">
                  <input type="radio" class="btn-check" name="method" id="methodBerdiri" autocomplete="off" data-parsley-required="true" value="berdiri" />
                  <label class="btn btn-outline-dark" for="methodBerdiri">Berdiri</label>
                  <input type="radio" class="btn-check" name="method" id="Terlentang" autocomplete="off" value="telentang" />
                  <label class="btn btn-outline-dark" for="Terlentang">Telentang</label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Vitamin A ()</label>
                <div>
                  <input type="radio" class="btn-check" name="vitamin" id="vitaminYa" autocomplete="off" data-parsley-required="true" value="Ya" />
                  <label class="btn btn-outline-dark" for="vitaminYa">Ya</label>
                  <input type="radio" class="btn-check" name="vitamin" id="Tidak" autocomplete="off" value="Tidak" />
                  <label class="btn btn-outline-dark" for="Tidak">Tidak</label>
                </div>
              </div> -->
              <div class="mb-3">
                <label class="form-label">Cara Ukur Tinggi Badan</label>
                <div class="form-group mandatory">
                  <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="method" id="berdiri" value="berdiri" data-parsley-required="true"/>
                    <label class="form-check-label" for="berdiri">
                      Berdiri
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="method" id="telentang" value="telentang" />
                    <label class="form-check-label" for="telentang">
                      Telentang
                    </label>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Vitamin A ()</label>
                <div class="form-group mandatory">
                  <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="vitamin" id="vitaminYa" value="ya" data-parsley-required="true"/>
                    <label class="form-check-label" for="vitaminYa">
                      Ya
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="vitamin" id="vitaminTidak" value="tidak" />
                    <label class="form-check-label" for="vitaminTidak">
                      Tidak
                    </label>
                  </div>
                </div>
              </div>

              <div class="text-end">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="submitReportCard" class="card collapse">
          <div class="card-header">
            <h5>Submit Laporan</h5>
          </div>
          <div class="card-body">
            <div class="row mb-5">
              <div class="col-6">
                <label for="month" class="form-label">Bulan</label>
                <select id="month" class="form-select confirmReportBtn">
                  <option value="01" <%= month == '01' ? 'selected' : '' %> >Januari</option>
                  <option value="02" <%= month == '02' ? 'selected' : '' %> >Februari</option>
                  <option value="03" <%= month == '03' ? 'selected' : '' %> >Maret</option>
                  <option value="04" <%= month == '04' ? 'selected' : '' %> >April</option>
                  <option value="05" <%= month == '05' ? 'selected' : '' %> >Mei</option>
                  <option value="06" <%= month == '06' ? 'selected' : '' %> >Juni</option>
                  <option value="07" <%= month == '07' ? 'selected' : '' %> >Juli</option>
                  <option value="08" <%= month == '08' ? 'selected' : '' %> >Agustus</option>
                  <option value="09" <%= month == '09' ? 'selected' : '' %> >September</option>
                  <option value="10" <%= month == '10' ? 'selected' : '' %> >Oktober</option>
                  <option value="11" <%= month == '11' ? 'selected' : '' %> >November</option>
                  <option value="12" <%= month == '12' ? 'selected' : '' %> >Desember</option>
                </select>
              </div>
              <div class="col-6">
                <label for="year" class="form-label">Tahun</label>
                <select id="year" class="form-select confirmReportBtn">
                  <% for(i of decades) { %> 
                  <option value="<%= i %>" <%= year == i ? 'selected' : '' %> ><%= i %></option>
                  <% } %> 
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h5 id="measureReportTitle"  class="text-center">Laporan Register Penimbangan Balita Tahun <%= year %></h5>
              <a href="<%= baseUrl %>/report/measurement/<%= year %>" id="measureReportLink" class="btn btn-primary">Lihat PDF</a>
            </div>
            <div class="table-responsive mb-4">
              <table class="table text-center table-bordered tableBorderedCustom">
                <thead>
                  <tr>
                    <th rowspan="7">No. KK</th>
                    <th rowspan="3">Nama Anak</th>
                    <th rowspan="7">Tanggal Lahir Anak</th>
                    <th rowspan="7">JK (L/P)</th>
                    <th rowspan="7">Anak Ke</th>
                    <th colspan="2">Orang Tua</th>
                    <th rowspan="7">Jenis Pengukuran</th>
                    <th rowspan="3" colspan="12">Hasil Pengukuran</th>
                  </tr>
                  <tr>
                    <th rowspan="2">Nama Ayah</th>
                    <th rowspan="2">Nama Ibu</th>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <th rowspan="2">NIK</th>
                    <th rowspan="2">NIK Ayah</th>
                    <th rowspan="2">NIK Ibu</th>
                    <th rowspan="2" colspan="12">Bulan</th>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <th rowspan="2">No. BPJS</th>
                    <th rowspan="2">No. BPJS Ayah</th>
                    <th rowspan="2">No. BPJS Ibu</th>
                    <% for(let i=0; i<12; i++) { %> 
                    <th rowspan="2"><%= i+1 %></th>
                    <% } %> 
                  </tr>
                  <tr>
                  </tr>
                </thead>
                <tbody id="measureReportBody">
                  <% if(measureReports.length == 0) { %> 
                    <tr><td colspan="20">Data Tidak Ditemukan</td></tr>
                  <% } %> 
                  <% for(i of measureReports) { %> 
                  <tr>
                    <td rowspan="7"><%= i.no_kk %></td>
                    <td rowspan="3"><%= i.name %></td>
                    <td rowspan="7"><%= i.birth %></td>
                    <td rowspan="7"><%= i.jk %></td>
                    <td rowspan="7"><%= i.anak_ke %></td>
                    <td colspan="2">Orang Tua</td>
                    <td>BB</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.bb %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td rowspan="2"><%= i.nama_ayah %></td>
                    <td rowspan="2"><%= i.nama_ibu %></td>
                    <td>TB</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.tb %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td>LK</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.lika %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td rowspan="2"><%= i.nik %></td>
                    <td rowspan="2"><%= i.nik_ayah %></td>
                    <td rowspan="2"><%= i.nik_ibu %></td>
                    <td>LiLa</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.lila %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td>BB/U</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.bbu %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td rowspan="2"><%= i.no_bpjs %></td>
                    <td rowspan="2"><%= i.no_bpjs_ayah %></td>
                    <td rowspan="2"><%= i.no_bpjs_ibu %></td>
                    <td>TB/U</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.tbu %></td>
                    <% } %> 
                  </tr>
                  <tr>
                    <td>BB/TB</td>
                    <% for(j of i.Measurements) { %> 
                      <td><%= j.bbtb %></td>
                    <% } %> 
                  </tr>
                  <% } %> 
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h5 id="accumulationReportTitle" class="text-center">Laporan Akumulasi Bulan <%= month %> Tahun <%= year %></h5>
              <a href="<%= baseUrl %>/report/accumulation/<%= month %>/<%= year %>" id="accumulationReportLink" class="btn btn-primary">Lihat PDF</a>
            </div>
            <div class="table-responsive mb-4">
              <table class="table text-center tableBorderedCustom">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Tanggal Pengukuran</th>
                    <th>Umur (Bulan)</th>
                    <th>BB</th>
                    <th>TB</th>
                    <th>BB/U</th>
                    <th>TB/U</th>
                    <th>BB/TB</th>
                    <th>LiLa</th>
                    <th>LiKa</th>
                  </tr>
                </thead>
                <tbody id="accumulationReportBody">
                  <% if(accumulationReports.length == 0) { %> 
                    <tr><td colspan="20">Data Tidak Ditemukan</td></tr>
                  <% } %> 
                  <% for(i of accumulationReports) { %> 
                    <tr>
                      <td><%= i.Toddler.name %></td>
                      <td><%= i.date %></td>
                      <td><%= i.current_age%></td>
                      <td><%= i.bb %></td>
                      <td><%= i.tb %></td>
                      <td><%= i.bbu %></td>
                      <td><%= i.tbu %></td>
                      <td><%= i.bbtb %></td>
                      <td><%= i.lila %></td>
                      <td><%= i.lika %></td>
                    </tr>
                  <% } %> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
  <script>
    $('.btnCard').on('click', (e) => {
      $('.collapse').collapse('hide');
      $(e.target)
        .addClass('btn-primary disabled')
        .removeClass('btn-light')
        .siblings('.btnCard')
        .removeClass('btn-primary disabled')
    })
    $('.confirmReportBtn').on('change', (e) => {
      $("#measureReportBody").html(`<tr><td colspan="20"><div class="spinner-border"></div></td><tr>`);
      $("#accumulationReportBody").html(`<tr><td colspan="20"><div class="spinner-border"></div></td><tr>`);
      const mm = $('#month').find(':selected').val()
      const yyyy = $('#year').find(':selected').val()
      $('#measureReportTitle').html(`Laporan Register Penimbangan Balita Tahun ${yyyy}`)
      $('#measureReportLink').attr('href', `<%= baseUrl %>/report/measurement/${yyyy}`)
      $('#accumulationReportTitle').html(`Laporan Akumulasi Bulan ${mm} Tahun ${yyyy}`)
      $('#accumulationReportLink').attr('href', `<%= baseUrl %>/report/accumulation/${mm}/${yyyy}`)
      $.ajax({
        url: `<%= baseUrl %>/api/measurement-report`,
        method: "GET",
        data: { yyyy },
        success: (res) => {
          let rows
          for (const i of res.data) {
            let tr1, tr2, tr3, tr4, tr5, tr6, tr7
            for (const j of i.Measurements) {
              tr1 += `<td>${j.bb}</td>`
              tr2 += `<td>${j.tb}</td>`
              tr3 += `<td>${j.lika}</td>`
              tr4 += `<td>${j.lila}</td>`
              tr5 += `<td>${j.bbu}</td>`
              tr6 += `<td>${j.tbu}</td>`
              tr7 += `<td>${j.bbtb}</td>`
            }
            rows += `
              <tr>
                <td rowspan="7">${i.no_kk}</td>
                <td rowspan="3">${i.name}</td>
                <td rowspan="7">${i.birth}</td>
                <td rowspan="7">${i.jk}</td>
                <td rowspan="7">${i.anak_ke}</td>
                <td colspan="2">Orang Tua</td>
                <td>BB</td>
                ${tr1}
              </tr>
              <tr>
                <td rowspan="2">${i.nama_ayah}</td>
                <td rowspan="2">${i.nama_ibu}</td>
                <td>TB</td>
                ${tr2}
              </tr>
              <tr>
                <td>LK</td>
                ${tr3}
              </tr>
              <tr>
                <td rowspan="2">${i.nik}</td>
                <td rowspan="2">${i.nik_ayah}</td>
                <td rowspan="2">${i.nik_ibu}</td>
                <td>LiLa</td>
                ${tr4}
              </tr>
              <tr>
                <td>BB/U</td>
                ${tr5}
              </tr>
              <tr>
                <td rowspan="2">${i.no_bpjs}</td>
                <td rowspan="2">${i.no_bpjs_ayah}</td>
                <td rowspan="2">${i.no_bpjs_ibu}</td>
                <td>TB/U</td>
                ${tr6}
              </tr>
              <tr>
                <td>BB/TB</td>
                ${tr7}
              </tr>
            `
          }
          $("#measureReportBody").html(rows);
        },
        error: (xhr) => {
          console.log(xhr.responseJSON)
          $("#measureReportBody").html(`<tr><td colspan="20">Data Tidak Ditemukan</td><tr>`);
        }
      })
      $.ajax({
        url: `<%= baseUrl %>/api/accumulation-report`,
        method: "GET",
        data: { mm, yyyy },
        success: (res) => {
          let rows
          for (const i of res.data) {
            rows += `
                <tr>
                  <td>${i.Toddler.name}</td>
                  <td>${i.date}</td>
                  <td>${i.current_age}</td>
                  <td>${i.bb}</td>
                  <td>${i.tb}</td>
                  <td>${i.bbu}</td>
                  <td>${i.tbu}</td>
                  <td>${i.bbtb}</td>
                  <td>${i.lila}</td>
                  <td>${i.lika}</td>
                </tr>
            `
          }
          $("#accumulationReportBody").html(rows);
        },
        error: (xhr) => {
          console.log(xhr.responseJSON)
          $("#accumulationReportBody").html(`<tr><td colspan="20">Data Tidak Ditemukan</td><tr>`);
        }
      })
    })
  </script>
</div>
