<%- include('../partials/header'); %>
    <%- include('../partials/sidebar'); %>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>Posyandu</h3>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5>Daftar Posyandu</h5>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter">Tambah</button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((data)=>{%>

                                    <tr>
                                        <td>
                                            <%= data.nama %>
                                        </td>
                                        <td>
                                            <%= data.alamat %>

                                        </td>
                                        <td>
                                            <button class="btn icon btn-success" data-bs-toggle="modal"
                                                data-bs-target="#editPosyanduModal<%=  data.uuid %>">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button class="btn icon btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteModalPosyandu<%= data.uuid %> ">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <%}) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                Tambah Posyandu
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <form action="/posyandu/store" method="post" data-parsley-validate>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Nama Posyandu</label>
                                    <input type="text" class="form-control" name="nama" data-parsley-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Alamat</label>
                                    <input type="text" class="form-control" name="alamat" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Close</span>
                                </button>
                                <button type="submit" class="btn btn-primary ml-1">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Accept</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% for(user of data) { %>

                <div class="modal fade" id="editPosyanduModal<%= user.uuid %>" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    Edit Posyandu
                                </h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <i data-feather="x"></i>
                                </button>
                            </div>
                            <form action="/posyandu/update/<%= user.uuid %> " method="post" data-parsley-validate>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nama Posyandu</label>
                                        <input type="text" class="form-control" name="nama" value="<%= user.nama %>">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Alamat</label>
                                        <input type="text" class="form-control" name="alamat"
                                            value="<%= user.alamat %>">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>
                                    <button type="submit" class="btn btn-primary ml-1">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Accept</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>

                    <!-- delete modal -->
                    <% for(user of data) { %>

                        <div class="modal fade" id="deleteModalPosyandu<%= user.uuid %>" tabindex=" -1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                            Hapus Posyandu
                                        </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <p>Apakah Anda Yakin Menghapus Posyandu Ini?</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary ml-1">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <a href="/posyandu/delete/<%= user.uuid %> "
                                                class="d-none d-sm-block text-white">Accept</a>
                                            <!-- <span class=""></span> -->
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                            <%- include('../partials/footer'); %>
        </div>