<%- include('../partials/header'); %> <%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <h3>Hasil Prediksi</h3>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Hasil Prediksi Terbaru</h5>
        </div>
      </div>
      <div class="card-body">
        <% if(data.length > 0) { %>
          <div>Nama : <%= data[data.length-1].name %> </div>
          <div>Berat Badan : <%= data[data.length-1].berat_badan %> </div>
          <div>Tinggi Badan : <%= data[data.length-1].tinggi_badan %> </div>
          <div>Usia : <%= data[data.length-1].usia %> Bulan </div>
          <div>Indikasi : <%= data[data.length-1].label == 1 ? 'Stunting' : 'Normal' %></div>
          <div>Akurasi : <%= data[data.length-1].akurasi %> %</div>
        <% } else { %>
          <div>No Data Found</div>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Tabel Hasil Prediksi</h5>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th>#</th>
              <th>Nama</th>
              <th>Berat Badan</th>
              <th>Tinggi Badan</th>
              <th>Usia (Bulan)</th>
              <th>Akurasi</th>
              <th>Indikasi</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < data.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].berat_badan %></td>
                <td><%= data[i].tinggi_badan %></td>
                <td><%= data[i].usia %></td>
                <td><%= data[i].akurasi %> %</td>
                <td>
                  <span class="badge bg-light-<%= data[i].label == 1 ? 'danger' : 'success' %>">
                    <%= data[i].label == 1 ? 'Stunting' : 'Normal' %>
                  </span>
                </td>
              </tr>              
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</div>
