<%- include('../partials/header'); %>
  <%- include('../partials/sidebar'); %>
    <div id="main">
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>
      <div class="page-heading">
        <h3>Pengguna</h3>
      </div>
      <section class="section">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <h5>Daftar Pengguna</h5>
              <button class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">Tambah</button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for(user of data) { %>
                  <tr>
                    <td>
                      <%= user.name %>
                    </td>
                    <td>
                      <%= user.email %>
                    </td>
                    <td>
                      <%= user.role %>
                    </td>
                    <td>
                      <%= user.status %>
                    </td>
                    <td>
                      <a href="#" class="btn icon btn-success" data-bs-toggle="modal"
                        data-bs-target="#editUsersModal<%= user.uuid %>">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <% if (user.status==="active" ) { %>
                        <a href="#" class="btn icon btn-warning" data-bs-toggle="modal"
                          data-bs-target="#editStatusModalCenter<%= user.uuid %>">
                          <i class="bi bi-person-dash"></i>
                        </a>
                        <% }else{%>
                          <a href="#" class="btn icon btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editStatusModalCenter<%= user.uuid %>">
                            <i class="bi bi-person-dash"></i>
                          </a>
                          <%} %>
                            <a href="#" class="btn icon btn-danger" data-bs-toggle="modal"
                              data-bs-target="#deleteModalCenter<%= user.uuid %>">
                              <i class="bi bi-trash"></i>
                            </a>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Tambah Users
              </h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i data-feather="x"></i>
              </button>
            </div>
            <form action="/users/store" method="post" data-parsley-validate>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Nama</label>
                  <input type="text" class="form-control" name="name" data-parsley-required="true">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" data-parsley-required="true">
                </div>
                <div class="mb-3">
                  <label for="basicInput">Role</label>
                  <select name="role" id="role" class="form-control" data-parsley-required="true" step="0.1">
                    <option value=""></option>
                    <option value="admin">Admin</option>
                    <option value="masyarakat">Masyarakat</option>

                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                  <i class="bx bx-x d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="submit" class="btn btn-primary ml-1">
                  <i class="bx bx-check d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Accept</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- modal edit -->
      <% for(user of data) { %>
        <div class="modal fade" id="editUsersModal<%= user.uuid %>" tabindex=" -1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                  Edit User
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <i data-feather="x"></i>
                </button>
              </div>
              <form action="/users/update/<%= user.uuid %>" method="post" data-parsley-validate>
                <div class="modal-body">
                  <div class="mb-3">
                    <label class="form-label">Nama</label>
                    <input type="text" class="form-control" name="name" value="<%= user.name %>">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" value="<%= user.email %>">
                  </div>
                  <div class="mb-3">
                    <label for="basicInput">Role</label>
                    <select name="role" id="role" class="form-control" step="0.1">
                      <option value="<%= user.role%>"></option>
                      <option value="admin">Admin</option>
                      <option value="masyarakat">Masyarakat</option>

                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                  </button>
                  <button type="submit" class="btn btn-primary ml-1">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Accept</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% } %>
          <!-- modal delete -->
          <% for(user of data) { %>
            <div class="modal fade" id="deleteModalCenter<%= user.uuid %>" tabindex=" -1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">
                      Edit Status Users
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <i data-feather="x"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <p>Apakah Anda Yakin Menghapus User Ini?</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                      <i class="bx bx-x d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="submit" class="btn btn-primary ml-1">
                      <i class="bx bx-check d-block d-sm-none"></i>
                      <a href="/users/delete/<%= user.uuid %>" class="d-none d-sm-block text-white">Accept</a>
                      <!-- <span class=""></span> -->
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
              <% for(user of data) { %>
                <div class="modal fade" id="editStatusModalCenter<%= user.uuid %>" tabindex=" -1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                          Hapus Users
                        </h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <i data-feather="x"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <% if (user.status==="active" ) { %>
                            <p>Apakah Anda Yakin Menonaktifkan User ini Ini?</p>
                            <% }else{%>
                              <p>Apakah Anda Yakin Mengaktifkan User Ini?</p>

                              <%}%>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                          <i class="bx bx-x d-block d-sm-none"></i>
                          <span class="d-none d-sm-block">Close</span>
                        </button>
                        <button type="submit" class="btn btn-primary ml-1">
                          <i class="bx bx-check d-block d-sm-none"></i>
                          <a href="/users/editstatus/<%= user.uuid %>" class="d-none d-sm-block text-white">Accept</a>
                          <!-- <span class=""></span> -->
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                  <%- include('../partials/footer'); %>
    </div>